<div class="page" ng-controller="artistListController">
	<ons-list>
		<!-- <h3 class="topcoat-list__header list-header main-color">A</h3> -->

		<ons-list-item>
			<ons-search-input ng-model="query.text" class="full line-height bg-white-30 radius-6" placeholder="Search"></ons-search-input>
		</ons-list-item>

		<ons-list-item ng-repeat="artist in artistList | filter:query.text" ng-click="showDetail(artist)">
			<img width="100" class="float-left" ng-src="{{artist.album_image}}" alt="">
			<div class="list-item-title-box float-left">
				<div class="list-item-title">
					{{artist.artist_name}}
				</div>
				<!-- <div class="list-item-subtitle">
					00 songs
				</div> -->
			</div>
			<img class="float-right list-arrow" src="icons/play.png" alt="">
			<div class="clear-float"></div>
		</ons-list-item>

	</ons-list>
	
</div>