<div class="page center" ng-controller="PlaylistController">	
	<ons-list>
		<ons-list-item>
			<ons-search-input ng-model="query.text" class="full line-height bg-white-30 radius-6" placeholder="Search"></ons-search-input>
		</ons-list-item>

		<ons-list-item class="block" ng-repeat="playlist in playlists | filter:query.text" ng-animate="'zoom'" ng-click="showDetail(playlist)">
			<img width="100" height="100" class="float-left" ng-src="{{playlist.image}}" alt="">
			<span class="playlist-item-label float-left">{{playlist.name}}</span>
			<img class="float-right list-arrow" src="icons/play.png" alt="">
			<div class="clear-float"></div>
		</ons-list-item>
		
	</ons-list>
</div>